#secret & config
.env
*.env
link.md

#raw data
data/raw
data/bronze
*.csv
*.parquet
*.xlsx
*.zip
'User friendly .csv files'/

#environnement
.uv/
__pycache__/
*.pyc
.python-version
.venv

#IDE
.vscode/
.idea/


#OS
.DS_Store
Thumbs.db
*.Zone.Identifier
*:Zone.Identifier

#PostgreSQL
*.sql.backup
*.dump
*.pg_dump
pgdata/
.pgpass

#log & monitoring
logs/
*.log
